body {
  background: linear-gradient(135deg, #5ac36e, #d169ae); /* Gradient from blue to light purple */
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.custom-segment {
  background: rgba(49, 150, 209, 0.85); /* Slightly transparent white */
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  padding: 15px;
  width: 90%;
  max-width: 400px;
}

.custom-button {
  background-color: #eef2e0;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  padding: 10px;
  margin: 5px;
}

.custom-button:hover {
  background-color: #4d5e70;
}

.content {
  padding: 20px;
  font-size: 16px;
  background-color: #9f61d8;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
}

.content:nth-child(even) {
  background-color: #452424;
}

.content:hover {
  background-color: #901b40;
}

@media (max-width: 500px) {
  .custom-segment {
    width: 100%;
    padding: 10px;
  }
}
