/* Center the content vertically and horizontally */
.ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Login container styling */
.login-container {
  width: 10%;
  max-width: 4px;
  background: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Avatar styling */
.app-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #f1f1f1;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

/* Logo Icon style */
.app-icon ion-icon {
  font-size: 80px;
  color: #3880ff;
}

/* Heading style */
.login-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

/* Input fields styling */
.login-input {
  width: 100%;
  margin-bottom: 20px;
}

/* Button styling */
.login-button {
  background-color: #3880ff;
  color: white;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-button:hover {
  background-color: #0066cc;
  transform: scale(1.05);
}

/* Register button style */
.register-link {
  text-decoration: underline;
  font-size: 14px;
  color: #0066cc;
  padding: 10px;
  margin-top: 10px;
}

/* Animation for fade-in effect */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
